    <link rel="stylesheet" href="/css/home.css">

	<main>
	<div class=" mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
			<div class="card">
				<div class="card-header">
				Resultados dos Testes
				</div>
				<div class="card-body">
				<table class="table">
					<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Aluno</th>
						<th scope="col">Disciplina</th>
						<th scope="col">Nota</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th scope="row">1</th>
						<td>João</td>
						<td>Matemática</td>
						<td>9.5</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Maria</td>
						<td>Português</td>
						<td>8.0</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Pedro</td>
						<td>História</td>
						<td>7.5</td>
					</tr>
					</tbody>
				</table>
				</div>
			</div>
			</div>
		</div> 
	</div>
</main>