.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.custom-modal .modal-dialog {
  width: 95%;
  max-width: none;
}

.nav-item:hover{
  text-decoration: underline;
}

.boas-vindas{
  font-family: 'Noto Sans Korean', sans-serif;
  font-weight: 200;
}

.icon{
  font-size: 25px;
}

.yt:hover{
  background-color: #FF0000;
  transform: scale(1.11); 
  transition: .4s;
}
